body {
  background: #FDE06F !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #00717133;
}

::-webkit-scrollbar-thumb {
  background: #007171;
}

::-webkit-scrollbar-thumb:hover {
  background: #005B5B;
}

::-webkit-scrollbar-thumb:active {
  background: #006464;
}

.wave-container-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -99;
}

.wave-container-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -99;
}

.people-list {
  height: 38.75rem;
}

@media only screen and (max-width: 991px) {
  .people-list {
    height: auto;
  }
}