.person-card {
    background: white;
    border-radius: 20px;
    transition: background .2s;
    overflow: hidden;
}

.bold {
    font-weight: bold;
}

.banner {
    display: flex;
    position: relative;
    height: 6rem;
    border-radius: 20px 20px 0 0;
    background: #007171;
    border-bottom: 3px #00B7B7 solid;
    box-shadow: 0 4px #007171;
}

.delete-button {
    width: 25px;
    height: 25px;
    background: none;
    color: #fff;
}

.delete-button:hover {
    opacity: 0.5;
}

.gender {
    position: absolute;
    bottom: 5px;
    left: 145px;
    color: #fff;
}

.gender .age {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}

.avatar {
    position: relative;
    top: -50px;
    left: 30px;
    height: 55px;
}

.avatar img {
    border-radius: 50%;
    outline: 5px #fff solid;
    transition: filter .2s;
    width: 100px;
    height: 100px;
}

.avatar img:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.content {
    padding: 1rem 2rem;
}

.email,
.country {
    font-size: 0.9rem;
    color: #414141;
}

#react-modal-image-img {
    filter: brightness(100%);
    cursor: auto;
    border-radius: 20%;
    width: auto;
    height: auto;
}