.height-animation {
    animation: show 1s;
    transition: animation 2s;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 1.5em;
}

.modal-form p {
    color: #4F4F4F;
    font-weight: 300;
    font-size: 1.1rem;
}

.form-group {
    margin-bottom: 2rem;
}

.modal-form input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #007171;
    border-radius: 0;
    padding: 0 0.75rem;
    font-size: 0.95rem;
}

label[for="genderChoice1"],
label[for="genderChoice2"] {
    font-size: 0.95rem;
}

.modal-form input:focus {
    border-color: rgba(0, 133, 133, 0.5);
    box-shadow: none;
}


.form-control {
    padding: 0 0.3rem !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    padding: 0;
    outline: none;
    border: 3px solid gray;
}

input[type="radio"]:checked {
    border-color: #00B7B7;
}

input[type="radio"].valid:before,
input[type="radio"].invalid:before,
input[type="radio"]:checked:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

input[type="radio"].valid:before,
input[type="radio"]:checked:before {
    background: #008A8A;
}

input[type="radio"].invalid:before {
    background: #8A0003;
}

.invalid {
    border-color: red !important;
}

.valid {
    border-color: #00B7B7 !important;
}

.btn-add-form,
.btn-close-form,
.btn-open-form {
    border: 2px solid #007171;
    padding: 0.3rem;
    border-radius: 10px;
    font-weight: 500;
    transition: background .2s;
}

.btn-add-form {
    background: #007171;
    color: #fff;
}

.btn-add-form:hover {
    border: 2px solid #005B5B;
    background: #005B5B;
}

.btn-close-form {
    background: transparent;
    color: #007171;
}

.btn-close-form:hover {
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid #005B5B;
    color: #005B5B;
}

.btn-open-form {
    background: #007171;
    color: #fff;
    padding: 0.4rem 0.8rem;
    border: none;
}

.btn-open-form:hover {
    background: rgba(0, 133, 133, 0.9);
}

.disabled.btn-open-form {
    opacity: 0.55;
}

.disabled.btn-open-form:hover {
    background: #007171;
}